// Media breakpoints
$xsm-screen: 360px;
$sm-screen: 576px;
$md-screen: 768px;
$lg-screen: 1024px;
$xl-screen: 1200px;
$xxl-screen: 1440px;

// Font family
$font-family: "Inter", sans-serif;

// Colors
$color-white: #f1f1f1;
$color-black: #040404;
$color-grey: #858688;
$color-red: #e53935;
$color-primary: linear-gradient(90deg, #2727f5 0%, #001671 100%);
$color-secondary: #3b486d;

// Transitions
$transition: all 0.3s;
$transition-ease-out: all 0.3s ease-out 0s;
