@import "../../../styles/mixins";
@import "../../../styles/vars";

.sidebarMenu {
  position: fixed;
  height: 100vh;
  z-index: 3;
  opacity: 1;
  width: 65px;
  background: $color-black;

  &:hover {
    width: 200px;
  }

  &__bgGradient {
    transition: width 0.4s ease;
    z-index: 1;
    background: linear-gradient(
      90deg,
      rgba(4, 4, 4, 1) 35%,
      rgba(4, 4, 4, 0) 100%
    );
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0px;
    pointer-events: none;
  }

  &:hover &__bgGradient {
    width: 600px;
  }

  &__container {
    overflow-y: auto;
    overflow-x: hidden;
    z-index: 2;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 10px 20px;
    width: 100%;
    height: 100%;
    background-color: $color-black;
  }

  &__userBlock {
    @include flexCol(start);
    gap: 12px;
    width: 100%;
    transition: $transition;
    opacity: 0;
  }

  &:hover &__userBlock {
    opacity: 1;
  }

  &__userName {
    @include setFont(18px, 700);
  }

  &__avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &__itemsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-top: 20px;
    width: 100%;
  }

  &__menuLink {
    @include flexCol(start);
    gap: 25px;
    @include setFont(16px, 500);
    text-decoration: none;
    margin: 5px 0;
    height: 47px;
    width: 47px;
    padding-inline: 11px;
    cursor: pointer;
    border-radius: 50%;

    &:hover,
    &_active {
      transition: $transition-ease-out;
      background-color: $color-secondary;
    }

    &_active {
      &:hover {
        cursor: default;
      }
    }
  }

  &:hover &__menuLink {
    width: 100%;
    border-radius: 10px;
  }

  &__title {
    transition: $transition-ease-out;
    overflow: hidden;
    width: 0%;
    opacity: 0;
    white-space: nowrap;
  }

  &:hover &__title {
    width: 100%;
    opacity: 1;
  }

  &__icon {
    @include svg(25px);
    min-width: 25px;
  }

  /* Footer */
  &__footer {
    align-items: start;
    flex-direction: column;
    gap: 15px;
    display: none;
    padding-left: 15px;

    a,
    button {
      @include setFont(15px, 500, $color-grey);
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover,
      &_active {
        transition: $transition-ease-out;
        color: $color-white;
      }

      &_active {
        &:hover {
          cursor: default;
        }
      }
    }
  }

  &:hover &__footer {
    display: flex;
  }
}
