@import "../../../styles/mixins";
@import "../../../styles/vars";

.sidebarMenu {
  position: fixed;
  height: 100vh;
  //min-width: 0;
  display: flex;
  flex-direction: column;

  background: linear-gradient(
    90deg,
    rgba(4, 4, 4, 1) 35%,
    rgba(4, 4, 4, 0) 100%
  );
  padding: 50px 10px 30px;
  z-index: 3;
  opacity: 1;
  width: 80px; // collapsed state
  transition: width 0.4s ease;

  &:hover {
    // max-width: 780px;
    width: 700px;
  }

  &__userBlock {
    display: none;
  }

  &:hover &__userBlock {
    @include flexCol(start);
    gap: 12px;
  }

  &__userName {
    @include setFont(18px, 700);
  }

  &__avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
  }

  &__itemsContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    //min-width: 0; /* was 160px */
    margin-top: 20px;
  }

  &:hover &__itemsContainer {
    //min-width: 160px;
  }

  &__menuLink {
    max-width: 180px;
    @include flexCol(start);
    gap: 25px;
    @include setFont(16px, 500);
    text-decoration: none;
    margin: 5px 0;
    padding: 10px 15px;
    cursor: pointer;

    &:hover,
    &_active {
      transition: $transition-ease-out;
      background-color: $color-secondary;
      border-radius: 10px;
    }

    &_active {
      &:hover {
        cursor: default;
      }
    }
  }

  &__title {
    display: none;
  }

  &:hover &__title {
    display: inline;
  }

  &__icon {
    @include svg(25px);
  }

  /* Footer */
  &__footerLink {
    align-items: start;
    flex-direction: column;
    gap: 15px;
    display: none;

    a,
    button {
      @include setFont(15px, 500, $color-grey);
      letter-spacing: 2px;
      text-transform: uppercase;
      text-decoration: none;
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;

      &:hover,
      &_active {
        transition: $transition-ease-out;
        color: $color-white;
      }

      &_active {
        &:hover {
          cursor: default;
        }
      }
    }
  }

  &:hover &__footerLink {
    display: flex;
  }
}
