@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeMovieInfo {
  display: flex;
  flex: 1;
  flex-direction: column;
  max-width: 460px;

  &__category {
    text-transform: uppercase;
    @include setFont(1rem, 400, #737375);
  }

  &__title {
    text-transform: uppercase;
  }
}
