@import "../../../../styles/mixins";
@import "../../../../styles/vars";

.homeTrending {
  // position: absolute;
  // bottom: 0;

  &__title {
    @include setFont(18px, 400);
    margin-bottom: 15px;
  }

  &__img {
    width: 100%;
    aspect-ratio: 2/3;
    object-fit: cover;
    cursor: pointer;
    background-color: $color-secondary;
  }
}
