@import "../../../styles/mixins";
@import "../../../styles/vars";

.homeMain {
  height: 100vh;
  padding-left: 160px;
  display: flex;
  flex-direction: column;
  @include bgWebp(
    "../../../assets/images/home/coverImage.png",
    "../../../assets/images/home/coverImage.webp"
  );
  background-position: right center;
  background-repeat: no-repeat;
  background-size: cover;
}
