@import "../../../styles/vars";
@import "../../../styles/mixins";

.mainBtn {
  @include flexCol();
  gap: 10px;
  @include button($color-primary, none);
  @include setFont(20px, 600, $color-white);
  white-space: nowrap;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 1px;
  border-radius: 50px;
  transition: $transition;
  padding: 15px 40px;

  &:hover {
    background: linear-gradient(90deg, #001671 0%, #2727f5 100%);
  }

  &_whiteBg {
    color: $color-black;
    background: $color-white;

    &:hover {
      background: $color-secondary;
    }
  }
}
